<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="DBSettings" type="System.Configuration.NameValueSectionHandler"/>
    </configSections>
        <DBSettings>
            <add key="ip" value="" />
            <add key="DBName" value="" />
            <add key="login" value="" />
            <add key="password" value="" />
        </DBSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <System.Windows.Forms.ApplicationConfigurationSection>
        <add key="DpiAwareness" value="PerMonitorV2" />
        <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
    </System.Windows.Forms.ApplicationConfigurationSection>
</configuration>